.review-bar-component {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $white-light;
  z-index: 100;
  padding: 7px 0 6px; // to keep aligned with "collapse sidebar" button on the left sidebar
  border-top: 1px solid $border-color;
  padding-left: $contextual-sidebar-width;
  padding-right: $gutter_collapsed_width;
  transition: padding $sidebar-transition-duration;

  .page-with-icon-sidebar & {
    padding-left: $contextual-sidebar-collapsed-width;
  }

  .right-sidebar-expanded & {
    padding-right: $gutter_width;
  }

  @media (max-width: map-get($grid-breakpoints, sm)-1) {
    padding-left: 0;
    padding-right: 0;
  }

  p {
    @include clearfix;
    margin: 0 auto;
    text-align: right;
  }

  .btn {
    float: right;

    + .btn {
      margin-right: $grid-size;
    }
  }
}

.review-bar-content {
  max-width: $limited-layout-width;
  padding: 0 $gl-padding;
  width: 100%;
  margin: 0 auto;
}
