- breadcrumb_title _("Security Dashboard")
- page_title  _("Security Dashboard")

#js-group-security-dashboard{ data: { vulnerabilities_endpoint: group_security_vulnerabilities_path(@group),
  vulnerabilities_summary_endpoint: summary_group_security_vulnerabilities_path(@group),
  dashboard_documentation: help_page_path('user/group/security_dashboard'),
  empty_state_svg_path: image_path('illustrations/security-dashboard-empty-state.svg'),
  error_state_svg_path: image_path('illustrations/security-dashboard-api-error-empty-state.svg') } }
